<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studycandy.mapper.CreditMapper">
    <resultMap id="BaseResultMap" type="com.studycandy.model.Credit">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="credit_from_id" property="creditFromId" jdbcType="INTEGER"/>
        <result column="credit_content" property="creditContent" jdbcType="VARCHAR"/>
        <result column="credit_evaluate" property="creditEvaluate" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from s_credit
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.studycandy.model.Credit">
        insert into s_credit (id, user_id, credit_from_id,
        credit_content, credit_evaluate)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creditFromId,jdbcType=INTEGER},
        #{creditContent,jdbcType=VARCHAR}, #{creditEvaluate,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.studycandy.model.Credit">
        update s_credit
        set user_id = #{userId,jdbcType=INTEGER},
        credit_from_id = #{creditFromId,jdbcType=INTEGER},
        credit_content = #{creditContent,jdbcType=VARCHAR},
        credit_evaluate = #{creditEvaluate,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, user_id, credit_from_id, credit_content, credit_evaluate
        from s_credit
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, credit_from_id, credit_content, credit_evaluate
        from s_credit
    </select>
</mapper>