<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studycandy.mapper.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.studycandy.model.School">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="school_name" property="schoolName" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from s_school
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.studycandy.model.School">
        insert into s_school (id, school_name)
        values (#{id,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.studycandy.model.School">
        update s_school
        set school_name = #{schoolName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, school_name
        from s_school
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, school_name
        from s_school
    </select>
</mapper>