.post{
	margin-bottom: 50px;
	margin-top: 20px;
}

.comment-list{
    min-height:50px;
}

.comment img{
	width: 50px;
	height: 50px;
}

.send-comment{
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 50px;
}

.post small{
	margin-left: 10%;
}

.post .describe{
    word-wrap:break-word;
    overflow:hidden;
}

.post .user-details{
    margin-top: 50px;
}

.post .user-img img{
    width: 150px;
    height: 150px;
}

.mybtn{
	position: fixed;
    margin-top:200px;
	right: 0;
}

.contentin {
	overflow-y:scroll;
	max-height:300px;
}