

/* style 1.st */
#boxs1{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs1>.box-title{
    background-color: #75c1d0;
}
#boxs1:hover{
    -webkit-box-shadow: 0 0 8px #55aaba, 0 0 8px #55aaba;
    -moz-box-shadow: 0 0 8px #55aaba,  0 0 8px #55aaba;
    box-shadow: 0 0 8px #55aaba,  0 0 8px #55aaba;
    border:solid #FFFFFF 0;
}
#boxs1:hover .box-title{
    background-color: #55aaba;
}



/* style 2.st */
#boxs2{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs2>.box-title{
    background-color: #dfdfaf;
}
#boxs2:hover{
    -webkit-box-shadow: 0 0 8px #cccc9c, 0 0 8px #cccc9c;
    -moz-box-shadow: 0 0 8px #cccc9c,  0 0 8px #cccc9c;
    box-shadow: 0 0 8px #cccc9c,  0 0 8px #cccc9c;
    border:solid #FFFFFF 0;
}
#boxs2:hover .box-title{
    background-color: #cccc9c;
}

/* style 3.st */
#boxs3{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs3>.box-title{
    background-color: #e6f1de;
}
#boxs3:hover{
    -webkit-box-shadow: 0 0 8px #c7dab9, 0 0 8px #c7dab9;
    -moz-box-shadow: 0 0 8px #c7dab9,  0 0 8px #c7dab9;
    box-shadow: 0 0 8px #c7dab9,  0 0 8px #c7dab9;
    border:solid #FFFFFF 0;
}
#boxs3:hover .box-title{
    background-color: #c7dab9;
}

/* style 4.st */
#boxs4{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs4>.box-title{
    background-color: #f1e7e5;
}
#boxs4:hover{
    -webkit-box-shadow: 0 0 8px #dac7c4, 0 0 8px #dac7c4;
    -moz-box-shadow: 0 0 8px #dac7c4,  0 0 8px #dac7c4;
    box-shadow: 0 0 8px #dac7c4,  0 0 8px #dac7c4;
    border:solid #FFFFFF 0;
}
#boxs4:hover .box-title{
    background-color: #dac7c4;
}

/* style 5.st */
#boxs5{
     border:solid #c8c5ca 1px;
     -webkit-box-shadow: 0 5px 5px #c8c5ca;
     -moz-box-shadow:0 5px 5px #c8c5ca;
     box-shadow:0 5px 5px #c8c5ca;
 }
#boxs5>.box-title{
    background-color: #c1d3d5;
}
#boxs5:hover{
    -webkit-box-shadow: 0 0 8px #9bb6b9, 0 0 8px #9bb6b9;
    -moz-box-shadow: 0 0 8px #9bb6b9,  0 0 8px #9bb6b9;
    box-shadow: 0 0 8px #9bb6b9,  0 0 8px #9bb6b9;
    border:solid #FFFFFF 0;
}
#boxs5:hover .box-title{
    background-color: #9bb6b9;
}

/* style 6.st */
#boxs6{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs6>.box-title{
    background-color: #dbffe5;
}
#boxs6:hover{
    -webkit-box-shadow: 0 0 8px #b9ebc7, 0 0 8px #b9ebc7;
    -moz-box-shadow: 0 0 8px #b9ebc7,  0 0 8px #b9ebc7;
    box-shadow: 0 0 8px #b9ebc7,  0 0 8px #b9ebc7;
    border:solid #FFFFFF 0;
}
#boxs6:hover .box-title{
    background-color: #b9ebc7;
}

/* style 7.st */
#boxs7{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs7>.box-title{
    background-color: #ffedc9;
}
#boxs7:hover{
    -webkit-box-shadow: 0 0 8px #e4cea2, 0 0 8px #e4cea2;
    -moz-box-shadow: 0 0 8px #e4cea2,  0 0 8px #e4cea2;
    box-shadow: 0 0 8px #e4cea2,  0 0 8px #e4cea2;
    border:solid #FFFFFF 0;
}
#boxs7:hover .box-title{
    background-color: #e4cea2;
}

/* style 8.st */
#boxs8{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs8>.box-title{
    background-color: #f1e9dd;
}
#boxs8:hover{
    -webkit-box-shadow: 0 0 8px #ded1bd, 0 0 8px #ded1bd;
    -moz-box-shadow: 0 0 8px #ded1bd,  0 0 8px #ded1bd;
    box-shadow: 0 0 8px #ded1bd,  0 0 8px #ded1bd;
    border:solid #FFFFFF 0;
}
#boxs8:hover .box-title{
    background-color: #ded1bd;
}


/* style 9.st */
#boxs9{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs9>.box-title{
    background-color: #f7d3df;
}
#boxs9:hover{
    -webkit-box-shadow: 0 0 8px #e5b5c5, 0 0 8px #e5b5c5;
    -moz-box-shadow: 0 0 8px #e5b5c5,  0 0 8px #e5b5c5;
    box-shadow: 0 0 8px #e5b5c5,  0 0 8px #e5b5c5;
    border:solid #FFFFFF 0;
}
#boxs9:hover .box-title{
    background-color: #e5b5c5;
}

/* style 10.st */
#boxs10{
    border:solid #c8c5ca 1px;
    -webkit-box-shadow: 0 5px 5px #c8c5ca;
    -moz-box-shadow:0 5px 5px #c8c5ca;
    box-shadow:0 5px 5px #c8c5ca;
}
#boxs10>.box-title{
    background-color: #f4e9eb;
}
#boxs10:hover{
    -webkit-box-shadow: 0 0 8px #e2cbcf, 0 0 8px #e2cbcf;
    -moz-box-shadow: 0 0 8px #e2cbcf,  0 0 8px #e2cbcf;
    box-shadow: 0 0 8px #e2cbcf,  0 0 8px #e2cbcf;
    border:solid #FFFFFF 0;
}
#boxs10:hover .box-title{
    background-color: #e2cbcf;
}