.mycarousel{
	margin-bottom: 50px;
}

.content-main{
	padding-left: 5%;
	padding-right: 5%;
}

.post-list{

}

.post{
	margin-bottom: 50px;
}

.post img{

}

.text-bottom{
	display: table-cell;
	vertical-align: bottom;
}

.send-post{

}

.post-title{
	margin-bottom: 20px;
}

.send-post .input-content{
	line-height: 50px;
}

.content{
    margin-bottom: 50px;
}