body{
	margin: 0;
}
a{
	text-decoration: none;
}
.page{
	width: 100%;
	min-height: 100%;
	position: relative;
}
.header{
	background-color: #b5b5b5;
	height: 60px;
	width: 100%;
	position: relative;
}
.header > div{
	float: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	color: #FFFFFF;
}
.header img{
	height: 50px;
	margin: 5px 20px 5px 300px;
}
.body{
	height: 950px;
	width: 100%;
	background-color: #98a0b8;
}
.regbody{
	width: 72%;
	height: 750px;
	position: absolute;
	left: 14%;
	top: 120px;
	background-color: #FFFFFF;
}
.nav_on{
	color: #FFFFFF;
	background-color: #04b709;
}
.reg_nav{
	color: #969696;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	line-height: 40px;
	border-bottom: solid #969696 1.5px;
	position: relative;
	width: 100%;
	height: 40px;
}
.reg_nav > div{
	float: left;
	width: 32%;
	height: 100%;
}
.reg_nav > .tri{
	width: 2%;
}
.t_on{
	background: url(../img/icons/on.png) no-repeat;
	background-size: 100% 100%;
}
.t_off{
	background: url(../img/icons/off.png) no-repeat;
	background-size: 100% 100%;
}
.tri img{
	width: 100%;
	height: 100%;
}
.reg_tab{
	width: 65%;
	height:550px;
	margin-top: 50px;
	margin-left: 5%;
}
.reg_cd{
	border-left:solid #d4d4d4 2px;
	position: absolute;
	right: 0px;
	top: 100px;
	height: 600px;
	width: 35%;
}
.reg_tab > div{
	width: 80%;
	margin: 80px auto 20px auto;
}
.reg_tab > .part2{
	margin-top: 40px;
}
.reg_tab > .on{
	display: block;
}
.reg_tab > .off{
	display: none;
}
.reg_tab > .part1{
	position: relative;
}
.asslabel{
	color: #a6a6a6;
	font-size: 12px;
	width: 70%;
	height: 14px;
	margin:0 0 25px 90px;
}
.rightlabel{
	position: relative;
	width: 450px;
	height: 40px;
	margin:0 0 0 90px;
}
.rightlabel select{
	width: 74.5%;
	height: 25px;
}
.textlabel{
	position: relative;
	width: 100%;
	height: 40px;
	margin: 20px 0;
}
.textlabel_two{
	position: relative;
	width: 100%;
	height: 40px;
	margin: 20px 0 5px 0;
}
.labeltext{
	line-height: 40px;
	text-align: center;
	float: left;
	width: 90px;
	height: 40px;
}
.labelinput{
	float: left;
	width: 60%;
	height: 40px;
}
.labelinput input[type='text']{
	width: 100%;
	height: 20px;
	margin:10px 0;
}
.labelinput input[type='password']{
	width: 100%;
	height: 20px;
	margin:10px 0;
}
.labelinput select{
	width: 44%;
	height: 25px;
	margin:10px 30px 10px 0;
}
.canv{
	position: relative;
}
.canv > div{
	float: left;
	line-height: 40px;
	margin-right: 5px;
}
.canv a{
	font-size: 14px;
}
.canv a:visited{
	color: #0085d9;
}
.line2{
	border-bottom: solid #c9c9c9 1px;
	height: 2px;
	width: 350px;
	margin: 40px 0 15px 90px;
}
.agreement{
	margin: 40px 0 15px 0;
	position: relative;
	height: 14px;
	width: 350px;
	margin-left: 85px;
	padding-bottom: 50px;
	border-bottom: solid #c9c9c9 1px;
}
.agreement label{
	color: #969696;
	vertical-align:middle; 
	font-size: 12px;
	line-height: 14px;
}
.agreement input[type='checkbox']{
	vertical-align:middle; 
	height: 14px;
	width: 14px;
}
.rmb{
	float: left;
}
.part1btn{
	font-family: "黑体";
	letter-spacing: 1px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	position: relative;
	width:250px;
	height: 30px;
	margin-left: 130px;
}
.part1next{
	background-color: #808080;
	height: 100%;
	width: 100px;
	float: left;
}
.part1now{
	background-color: #808080;
	height: 100%;
	width: 100px;
	float: right;
}
.sexra{

}
.sexra > .labeltext{ 
	line-height: 43px;
}
.sexra > .labelinput label{
	margin-right: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.labelsend{
	font-family: "黑体";
	width: 100px;
	height: 24px;
	background-color: #808080;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	margin: 10px 0 9px 10px;
	text-align: center;
	line-height:24px; 
}
.sucre{
	height: 60px;
	position: relative;
	width: 400px;
	margin: 150px auto 65px auto;
}
.sucre > div{
	float: left;
}
.srimg{
	width: 55px;
	height: 55px;
}
.srimg img{
	width: 100%;
	height: 100%;
}
.srmsg{
	margin-left: 20px;
	text-align: center;
	line-height: 55px;
}
.part3btn{
	clear: both;
	border-bottom: solid #c9c9c9 1px;
	height: 70px;
	width: 80%;
	margin: 0 0 15px 20px;
}
.part3btn > div {
	width: 100px;
	height: 30px;
	color: #FFFFFF;
	background-color: #808080;
	margin: 0px 35% 40px 35%;
	text-align: center;
	line-height: 30px;
}
.recom{
	margin:25px;
}
.retitle{
	font-size: 14px;
	color: #9b9b9b;
	margin-bottom: 25px;
}
.relesson{
	position: relative;
}
.relesson > div{
	float: left;
	border:solid #9b9b9b 1px;
	height: 200px;
	width: 38%;
	margin-right: 40px;
}
.relessontitle{
	width: 100%;
	height: 40px;
	background-color: #969eb8;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
}
.relessons1{
	margin: 20px auto;
	width: 150px;
	text-align: center;
}
.relessons2{
	overflow: hidden;
	line-height: normal;
	margin: 0 auto;
	width: 150px;
	height: 100px;
	border:solid red 1px;
}
.footer{
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 70px;
	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #959595;
}