<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studycandy.a2c.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.studycandy.a2c.model.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"/>
        <result column="permission_value" property="permissionValue" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_a2c_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.studycandy.a2c.model.Permission">
    insert into s_a2c_permission (id, permission_name, permission_value, 
      description)
    values (#{id,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{permissionValue,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.studycandy.a2c.model.Permission">
    update s_a2c_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_value = #{permissionValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, permission_name, permission_value, description
    from s_a2c_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_name, permission_value, description
    from s_a2c_permission
  </select>
</mapper>