
/* QARoom css */

.QA-wrapper{
    margin-top: 4%;
    margin-bottom: 4%;
}
.QA-wrapper ul{
    padding-left: 20px;
}
.QA-body{
    padding: 20px;
}
#addques{
    margin-right: 20px;
}
.box {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition:background-color 0.7s ease-out;
    -moz-transition:background-color 0.7s ease-out;
    -webkit-transition:background-color 0.7s ease-out;
    background-color: #FFF;
    border:solid #c8c5ca 1px;
    margin-bottom: 20px;
    float: left;
    width: 260px;
}

#masonry .qasuccess{
    border:solid #4cae4c 1px;
}
.qasuccess .box-qastatus{
    color:#4cae4c;
}
#masonry .qasuccess{
    border:solid #4cae4c 1px;
}
.qasuccess .box-qastatus{
    color:#4cae4c;
}
#masonry .qarun{
    border:solid #31708f 1px;
}
.qarun .box-qastatus{
    color:#31708f;
}
.box:hover{
    background-color: #F2F2F2;
}
.box-title{
    padding:10px 5px;
    text-align: center;
    border-bottom:solid #c8c5ca 1px;
    font-size: 16px;
}
.box-content{
    padding: 20px;
    color:#5e5e5e;
}
.box-qastatus{
    font-family: "黑体";
    font-weight: bold;
    padding:0 20px;
    color:#8c8c8c;
    font-size: 16px;
}
.box-online{
    padding:10px 20px;
    color:#66512c;
    font-size: 16px;
}
.box-foot{
    padding: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    color:#7A797A;
}
.box-foot>.left>span{
    color:#eb9316;
    font-size: 14px;
}
.box-foot>.right>span{
    color:#3e8f3e;
    font-size: 14px;
}
#quescontent{
    height: 300px;
}
#coachcontent{
    height: 260px;
}
#jian , #jia{
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #333333;
}

#he{
    width: 70px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #333333;
}

/* QADetail css */

.qa-detail-wrapper{
    margin-top: 4%;
    margin-bottom: 4%;
}
.qa-detail-body{
    margin-top: 4%;
    margin-bottom: 4%;
}
.qa-question-body{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFF;
}
.qa-detail-head{
    padding:20px;
    border-bottom: solid #adadad 1px;
    min-height: 80px;
}
.qa-detail-title{
    font-family: "黑体";
    font-weight: bold;
    font-size: 255%;
}
.qa-detail-title span{
    float: right;
    color:#eb9316;
    font-size: 20px;
}
.qa-detail-content{
    padding:20px;
    color:#7e7e7e;
}
#addans{
    margin-right: 20px;
}
.qa-detail-user{
    margin-right: 20px;
    color: #adadad;
    font-size: 12px;
}
.qa-detail-user span{
    color:#3e8f3e;
    font-size: 16px;
}
.answer-nav{
    margin:5% 0 0 0;
    padding:20px;
    font-size: 156%;
}
.qa-answer-body{
    padding:20px;
    margin-top: 10px;
    border-bottom: solid #7b7b7b 1px;
}
.qa-answer-content{
    padding:20px;
    color:#5e5e5e;
}
.qa-answer-user{
    margin-right: 20px;
    margin-bottom: 20px;
    color: #adadad;
    font-size: 12px;
}
.qa-answer-user span{
    color:#3e8f3e;
    font-size: 16px;
}
.ans-accept{
    transition:border-color 0.5s ease-out;
    -moz-transition:border-color 0.5s ease-out;
    -webkit-transition:border-color 0.5s ease-out;
    transition:color 0.2s ease-out;
    -moz-transition:color 0.2s ease-out;
    -webkit-transition:color 0.2s ease-out;
    transition:background-color 0.5s ease-out;
    -moz-transition:background-color 0.5s ease-out;
    -webkit-transition:background-color 0.5s ease-out;
    width: 80px;
    height: 25px;
    border:solid #5fbed0 1px;
    color: #5fbed0;
    line-height: 25px;
    text-align: center;
    margin-left: 15px;
}
.ans-accept:hover{
    cursor: pointer;
    color:#FFF;
    background-color: #5fbed0;
}
#showallans:hover{
    cursor: pointer;
}
.qa-detail-body .sucbody{
    border:solid #3e8f3e 1px;
}
.sucbody .qa-detail-title>span{
    color: #3e8f3e;
}
#bestans{

}